@import 'tailwindcss';

html {
  scroll-padding-top: 80px;
}

@theme {
  --color-craftz-bg: #202023;
  --color-craftz-box: #313134;
  --color-craftz-highlight: #ff63c3;
  --color-craftz-primary: #82e5d9;

  --font-heading: var(--font-mplus), sans-serif;
  --font-mono: var(--font-ibm-mono), monospace;
}
